@font-face {
        font-family: "Magic-Retro";
        src: url("../fonts/Magic-Retro.ttf");
}

@font-face {
        font-family: "Caviar";
        src: url("../fonts/Caviar.ttf");
}

@font-face {
        font-family: "Glimmer";
        src: url("../fonts/Glimmer.otf");
}


*{
	margin: 0;  /*margin 0 sur tous les éléments par defaut*/
}

html,body{
	height: 100%;
}

h3,h4,h5,p{
	font-size: 1em;      /*taille et police par defaut*/
	font-family: 'Caviar';
	font-weight: bold;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}

header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(45deg, #b2ff59, #01c853) 1;
	animation-duration: 2s;
  animation-name: slideinbytop;
}

header a#logoLink{
	width: 6%;
}

header nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

header nav a{
 	padding: 1em;
}

#marque>h1{
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(45deg, #b2ff59, #01c853) 1;
  padding: .3em;
}

header nav a h1{
	background-color: #f3ec78;
    background-image: linear-gradient(45deg, #b2ff59, #01c853);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
 	font-family: 'Magic-Retro';
	font-size: 1em;
}

header nav > a:hover{
	color: lightgrey;           /*lien surligné et en gris si survolé par la souris*/
	text-decoration: underline;
}

/* --------------- Media Queries ---------------- */



@media screen and (max-width: 900px){   /* media mobile */
	header{
		flex-direction: column;
	}

	header a#logoLink{
		margin: 0;
		width: 4em;
	}

	header nav.computer{
		display: none;
	}

	header nav.mobile{
		margin-top: -1.5em;
	}

	header nav.mobile a{
		font-size: 1.1em;
	}

	main section#firstSection{
		flex-direction: column;
		padding-bottom: 5%;
	}

	section#firstSection aside{
		width: 50%;
	}

	section#firstSection article{
		font-size: 1.2em;
		width: 80%;
		margin-top: 2em;
	}

	section#firstSection article p{
		max-height: 25em;
		overflow: auto;
	}

}

@media screen and (max-width: 250px){
	main section#firstSection aside{
		width: 100%;
	}

	header nav.mobile{
		flex-direction: column;
		margin-top: -.5em;
	}

	header nav.mobile a{
		padding: 0;
	}
}







@media screen and (min-width: 900px){
	header a#logoLink{
		width: 10%;
	}

	header nav.mobile{
		display: none;
	}

	main section#firstSection article{
		font-size: 1.2em;
		width: 80%;
		margin-top: 2em;
	}
}

@media screen and (min-width: 900px) and (max-width: 1100px){
	header{
		padding: 0 2% 0 2%;
	}

	header a#logoLink{
		width: 8%;
	}

	header nav a{
		font-size: 1.1em;
		padding-left: 0.1em;
	}

	main section#firstSection{
		margin: 0 5% 0 5%;
	}

	main section#firstSection article{
		font-size: 1.1em;
	}
}

@media screen and (min-width: 1100px) and (max-width: 1500px){
	header{
		padding: 0 3% 0 3%;
	}

	header a#logoLink{
		width: 7%;
	}

	header nav a{
		font-size: 1.2em;
		padding-left: 0.2em;
	}

	main section#firstSection{
		margin: 0 8% 0 8%;
	}

	main section#firstSection article{
		font-size: 1.2em;
	}
}

@media screen and (min-width: 1500px) and (max-width: 2000px){
	header{
		padding: 0 5% 0 5%;
	}

	header a#logoLink{
		width: 6%;
	}

	header nav a{
		font-size: 1.4em;
		padding-left: 0.3em;
	}
}

@media screen and (min-width: 2000px){
	header{
		padding: 0 10% 0 10%;
	}

	header a#logoLink{
		width: 6%;
	}

	header nav a{
		font-size: 1.8em;
		padding-left: 0.4em;
	}
}
